.homeContainer {
    background-color: black;
    color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    padding-top: 80px; /* ADD THIS */
}


.mainTitle {
    font-size: 3rem;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #aaa;
}

.ctaButton {
    background-color: #e50914;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ctaButton:hover {
    background-color: #f40612;
}
